<!DOCTYPE html>
<html>
        <head>
            <title>
                Home
            </title>
            <style>
                body{
                    background-color: black;
                    color: white;
                }
            </style>
        </head>
   

    <body>
        <h1>USER PAGE</h1>
        <h2>Welcome <%=user%></h2>
        <a href="/logout">Logout</a>
    </body>
</html>