<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
        <style>
            body{
                background-color: black;
                color: white;
            }
        </style>
    </head>
<body>
<h1>REGISTER</h1>
<form method="POST" action="/register">
<input type="text" name='username' required>
<input type="password" name="password" required>
<button type="submit">Register</button>
</form>
</body>
</html>